html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Zabráníme scrollbarům na těle stránky */
}

body {
  display: flex;
  flex-direction: column;
}

/* Hlavní obsah by měl zabrat všechno zbývající místo */
main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Zajistíme, že obsah (graf) nepřeteče */
}

/* Komponenta grafu by měla vyplnit celý svůj kontejner (main) */
main > div {
  flex-grow: 1;
}
